<div class="row pt-4">
    <div class="col-sm-12">
        <div class="element-wrapper">
            <h6 class="element-header">Oopss....</h6>
            <div class="element-content">
                <div class="big-error-w">
                    <img src="assets/images/404.png" class="img-fluid">
                    <h1>404</h1>
                    <h5>Page not Found</h5>
                    <h4>Oops, Something went missing...</h4>
                </div>
            </div>
        </div>
    </div>
</div>