<div  class="row pt-4">
    <div  class="col-sm-12">
        <div  class="element-wrapper">
            <div  class="element-actions">
                <form  class="form-inline justify-content-sm-end ng-untouched ng-pristine ng-valid"
                    novalidate=""><select  class="form-control form-control-sm rounded">
                        <option  value="Pending" ng-reflect-value="Pending">Today</option>
                        <option  value="Active" ng-reflect-value="Active">Last Week </option>
                        <option  value="Cancelled" ng-reflect-value="Cancelled">Last 30 Days</option>
                    </select></form>
            </div>
            <h6  class="element-header">Support Service Dashboard</h6>
            <div  class="element-content">
                <div  class="tablo-with-chart">
                    <div  class="row">
                        <div  class="col-sm-5 col-xxl-4">
                            <div  class="tablos">
                                <div  class="row mb-xl-2 mb-xxl-3">
                                    <div  class="col-sm-6"><a 
                                            class="element-box el-tablo centered trend-in-corner padded bold-label"
                                            href="apps_support_index.html">
                                            <div  class="value">24</div>
                                            <div  class="label">New Tickets</div>
                                            <div  class="trending trending-up-basic"><span
                                                    >12%</span><i 
                                                    class="os-icon os-icon-arrow-up2"></i></div>
                                        </a></div>
                                    <div  class="col-sm-6"><a 
                                            class="element-box el-tablo centered trend-in-corner padded bold-label"
                                            href="apps_support_index.html">
                                            <div  class="value">12</div>
                                            <div  class="label">Closed Today</div>
                                            <div  class="trending trending-down-basic"><span
                                                    >12%</span><i 
                                                    class="os-icon os-icon-arrow-down"></i></div>
                                        </a></div>
                                </div>
                                <div  class="row">
                                    <div  class="col-sm-6"><a 
                                            class="element-box el-tablo centered trend-in-corner padded bold-label"
                                            href="apps_support_index.html">
                                            <div  class="value">52</div>
                                            <div  class="label">Agent Replies</div>
                                            <div  class="trending trending-up-basic"><span
                                                    >12%</span><i 
                                                    class="os-icon os-icon-arrow-up2"></i></div>
                                        </a></div>
                                    <div  class="col-sm-6"><a 
                                            class="element-box el-tablo centered trend-in-corner padded bold-label"
                                            href="apps_support_index.html">
                                            <div  class="value">7</div>
                                            <div  class="label">New Replies</div>
                                            <div  class="trending trending-down-basic"><span
                                                    >12%</span><i 
                                                    class="os-icon os-icon-arrow-down"></i></div>
                                        </a></div>
                                </div>
                            </div>
                        </div>
                        <div  class="col-sm-7 col-xxl-8">
                            <div  class="element-box pl-xxl-5 pr-xxl-5">
                                <div  class="el-tablo bigger highlight bold-label">
                                    <div  class="value">12,537</div>
                                    <div  class="label">Unique Visitors</div>
                                </div>
                                <div  class="el-chart-w">
                                    <div  class="chartjs-size-monitor"
                                        style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                                        <div  class="chartjs-size-monitor-expand"
                                            style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                            <div 
                                                style="position:absolute;width:1000000px;height:1000000px;left:0;top:0">
                                            </div>
                                        </div>
                                        <div  class="chartjs-size-monitor-shrink"
                                            style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                            <div 
                                                style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                                        </div>
                                    </div><canvas  class="chartjs-render-monitor" height="306"
                                        id="lineChart" style="display: block; height: 279px; width: 997px;"
                                        width="1096"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div  class="row pt-4">
    <div  class="col-sm-12">
        <div  class="element-wrapper">
            <h6  class="element-header">Recent Ticket Comments</h6>
            <div  class="element-box-tp">
                <div  class="table-responsive">
                    <table  class="table table-padded">
                        <thead >
                            <tr >
                                <th ></th>
                                <th >Assigned Agent</th>
                                <th >Last Comment</th>
                                <th  class="text-center">Ticket Category</th>
                                <th >Last Reply Date</th>
                                <th >Ticket Status</th>
                                <th >Actions</th>
                            </tr>
                        </thead>
                        <tbody >
                            <tr >
                                <td  class="text-center"><input  class="form-control"
                                        type="checkbox"></td>
                                <td >
                                    <div  class="user-with-avatar"><img  alt=""
                                            src="img/avatar1.jpg"><span >John Mayers</span></div>
                                </td>
                                <td >
                                    <div  class="smaller lighter">I have enabled the software for you,
                                        you can try now...</div>
                                </td>
                                <td ><span >Today</span><span 
                                        class="smaller lighter">1:52am</span></td>
                                <td  class="text-center"><a 
                                        class="badge badge-success-inverted" href="#">Shopping</a></td>
                                <td  class="nowrap"><span 
                                        class="status-pill smaller green"></span><span >Active</span>
                                </td>
                                <td  class="row-actions"><a  href="#"><i
                                             class="os-icon os-icon-grid-10"></i></a><a 
                                        href="#"><i  class="os-icon os-icon-ui-44"></i></a><a
                                         class="danger" href="#"><i 
                                            class="os-icon os-icon-ui-15"></i></a></td>
                            </tr>
                            <tr >
                                <td  class="text-center"><input  class="form-control"
                                        type="checkbox"></td>
                                <td >
                                    <div  class="user-with-avatar"><img  alt=""
                                            src="img/avatar2.jpg"><span >Mike Bishop</span></div>
                                </td>
                                <td >
                                    <div  class="smaller lighter">Please approve this request so we can
                                        move...</div>
                                </td>
                                <td ><span >Jan 19th</span><span 
                                        class="smaller lighter">3:22pm</span></td>
                                <td  class="text-center"><a 
                                        class="badge badge-danger-inverted" href="#">Cafe</a></td>
                                <td  class="nowrap"><span 
                                        class="status-pill smaller red"></span><span >Closed</span></td>
                                <td  class="row-actions"><a  href="#"><i
                                             class="os-icon os-icon-grid-10"></i></a><a 
                                        href="#"><i  class="os-icon os-icon-ui-44"></i></a><a
                                         class="danger" href="#"><i 
                                            class="os-icon os-icon-ui-15"></i></a></td>
                            </tr>
                            <tr >
                                <td  class="text-center"><input  class="form-control"
                                        type="checkbox"></td>
                                <td >
                                    <div  class="user-with-avatar"><img  alt=""
                                            src="img/avatar3.jpg"><span >Terry Crews</span></div>
                                </td>
                                <td >
                                    <div  class="smaller lighter">We will need some login credentials to
                                        make... </div>
                                </td>
                                <td ><span >Yesterday</span><span 
                                        class="smaller lighter">7:45am</span></td>
                                <td  class="text-center"><a 
                                        class="badge badge-warning-inverted" href="#">Restaurants</a></td>
                                <td  class="nowrap"><span 
                                        class="status-pill smaller yellow"></span><span >Pending</span>
                                </td>
                                <td  class="row-actions"><a  href="#"><i
                                             class="os-icon os-icon-grid-10"></i></a><a 
                                        href="#"><i  class="os-icon os-icon-ui-44"></i></a><a
                                         class="danger" href="#"><i 
                                            class="os-icon os-icon-ui-15"></i></a></td>
                            </tr>
                            <tr >
                                <td  class="text-center"><input  class="form-control"
                                        type="checkbox"></td>
                                <td >
                                    <div  class="user-with-avatar"><img  alt=""
                                            src="img/avatar1.jpg"><span >Phil Collins</span></div>
                                </td>
                                <td >
                                    <div  class="smaller lighter">I have enabled the software for you,
                                        you can try now...</div>
                                </td>
                                <td ><span >Jan 23rd</span><span 
                                        class="smaller lighter">2:12pm</span></td>
                                <td  class="text-center"><a 
                                        class="badge badge-primary-inverted" href="#">Shopping</a></td>
                                <td  class="nowrap"><span 
                                        class="status-pill smaller yellow"></span><span >Pending</span>
                                </td>
                                <td  class="row-actions"><a  href="#"><i
                                             class="os-icon os-icon-grid-10"></i></a><a 
                                        href="#"><i  class="os-icon os-icon-ui-44"></i></a><a
                                         class="danger" href="#"><i 
                                            class="os-icon os-icon-ui-15"></i></a></td>
                            </tr>
                            <tr >
                                <td  class="text-center"><input  class="form-control"
                                        type="checkbox"></td>
                                <td >
                                    <div  class="user-with-avatar"><img  alt=""
                                            src="img/avatar4.jpg"><span >Katy Pilsner</span></div>
                                </td>
                                <td >
                                    <div  class="smaller lighter">I have tried this solution but it does
                                        not open... </div>
                                </td>
                                <td ><span >Jan 12th</span><span 
                                        class="smaller lighter">9:51am</span></td>
                                <td  class="text-center"><a 
                                        class="badge badge-danger-inverted" href="#">Groceries</a></td>
                                <td  class="nowrap"><span 
                                        class="status-pill smaller green"></span><span >Active</span>
                                </td>
                                <td  class="row-actions"><a  href="#"><i
                                             class="os-icon os-icon-grid-10"></i></a><a 
                                        href="#"><i  class="os-icon os-icon-ui-44"></i></a><a
                                         class="danger" href="#"><i 
                                            class="os-icon os-icon-ui-15"></i></a></td>
                            </tr>
                            <tr >
                                <td  class="text-center"><input  class="form-control"
                                        type="checkbox"></td>
                                <td >
                                    <div  class="user-with-avatar"><img  alt=""
                                            src="img/avatar2.jpg"><span >Wes Morgan</span></div>
                                </td>
                                <td >
                                    <div  class="smaller lighter">I have enabled the software for you,
                                        you can try now...</div>
                                </td>
                                <td ><span >Jan 9th</span><span 
                                        class="smaller lighter">12:45pm</span></td>
                                <td  class="text-center"><a 
                                        class="badge badge-primary-inverted" href="#">Business</a></td>
                                <td  class="nowrap"><span 
                                        class="status-pill smaller yellow"></span><span >Pending</span>
                                </td>
                                <td  class="row-actions"><a  href="#"><i
                                             class="os-icon os-icon-grid-10"></i></a><a 
                                        href="#"><i  class="os-icon os-icon-ui-44"></i></a><a
                                         class="danger" href="#"><i 
                                            class="os-icon os-icon-ui-15"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>